.benefits-section {
    position: relative;
    &:before {
        position: absolute;
        bottom: rem(-25px);
        left: 15%;
        content: url(../../img/Vector\ 54.png)
        }
}


.headline__title{
    margin-bottom: rem(18px);
}

.headline{
    text-align: center;
}

.headline__subtitle{
    padding: 0 20%;
    margin-bottom: rem(62px);

    @include phones{
        padding: 0 5%;
    }
}

.benefits{
    display: flex;

    @include phones{
        flex-direction: column;
    }
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones{
        padding: 0;
        margin-bottom: rem(18px);
    }

    &::before{
        content: url(./../img/Combined\ shape\ 2204.png);
        position: absolute;
        top: rem(50px);
        right: 0;
        transform: translate( 50%);

        @include tablets{
            display: none;
        }
        @include phones{
            display: none;
        }
    }

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;

        &:before{
            display: none;
        }
    }
}
