.headline__title{
    margin-bottom: 18px;
}

.headline{
    text-align: center;
}

.headline__subtitle{
    padding: 0 20%;
    margin-bottom: 62px;
}

.benefits{
    display: flex;
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    &::before{
        content: url(../../img/Combined\ shape\ 2204.png);
        position: absolute;
        top: 50px;
        right: 0;
        transform: translate( 50%);
    }

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;

        &:before{
            display: none;
        }
    }
}
