.footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__container{
  position: relative;
  display: flex;
  margin-top: auto;
  padding: 30px 0px;
  margin-left: rem(86px);
  max-width: 100%;
}
.contacts{
display: flex;
flex-direction: column;
}

.footer__col{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.map {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
.socials {
  margin-left: rem(430px);
    display: flex;
  }
.socials__link {
    display: block;
    height: 36px;
    width: 36px;
    margin-right: rem(10px);
  }
  
.social__item {
    display: inline-block;
  }
  
.social__item:last-child {
    margin-right: 0px;
  }
