.footer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;

  @include phones{
    flex-direction: column;
  }
}

.footer__container{
  display: flex;
justify-content: space-between;
align-items: center;
}
.contacts{
display: flex;
flex-direction: column;
justify-content: center;
}

.footer__col{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.map {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
.socials {
  margin-left: auto;
    display: flex;
  }
.socials__link {
    display: block;
    height: 36px;
    width: 36px;
    margin-right: rem(10px);
  }
  
.social__item {
    display: inline-block;
  }
  
.social__item:last-child {
    margin-right: 0px;
  }

.socials_img{
  fill: #b3b3b3;
  &:hover{
    fill:black;
  }
}