.hamburger{
    width: 26px;
    height: 23px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @include tablets{
        display: inline-flex;
    }
};

.hamburger__line{
    display: block;
    background: $black;
    height: 4px;
    border-radius: 10px;
};