.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.menu__link{
    text-decoration: none;
}

.menu__item{
    margin-right: 27px;

    &:last-child{
        margin-right: 0px;
    }
}

.phone-number{
    font-size: 18px;
    text-decoration: none ;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.phone-number__icon-elem{
    width: 14px; 
    height: 14px;
    margin-right: 6px;
}

.logo{
    margin-bottom: 50px;
}