.indicators {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.indicators__button {
    width: rem(91px);
    height: rem(91px);
    background:#9A9A9A;
    border-radius: rem(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  

.indicators__button-icon-elem {
    z-index: 5;
    fill: #fff;
    width: rem(42px);
    height: rem(42px);
    display: block;
}
  

.indicators {
    &:hover {
      .indicators__dropdown {
        left: 100%;
        opacity: 1;
    }
  }
}
  
.indicators__dropdown {
    color: #000;
    position: absolute;
    top: 0;
    width: rem(270px);
    background: rgba(255, 255, 255, 0.8);
    border-radius: rem(5px);
    padding: rem(35px) rem(29px) rem(25px) rem(34px);
    transition: opacity .3s;
    opacity: 0;
  
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 50%;
      width: rem(30px);
      left: rem(-29px);
    }
}
  
.indicators__table {
    width: 100%;
}
  
.indicators__icon {
    width: rem(35px);
    height: rem(35px);
}
  
.indicators__table-row {
    border-bottom: rem(5px) solid transparent;
  
    &:last-child {
      border-bottom: 0;
    }
}
  
.indicators__text-container {
    padding-left: rem(10px);
}
  
.indicators__table-cell {
    vertical-align: middle;
}

.indicators__text {
    font-size: rem(16px);
    font-weight: bold;
}