.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0%;
    height: 100%;
    width: 100%;
};

.modal__container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #313131;
};
.modal__wrapper{
    padding: rem(35px) rem(60px);
    flex-direction: column;
    background: #fff;
    display: flex;
    align-items: center;
    width: rem(309px);
    height: rem(176px);

}
.input-error {
    border-color: red;
};

.modal__content {
    margin-bottom: rem(25px);
    color: #000;
};